html, body {
  margin: 0;
  padding: 0;
}


html {

  overflow-y: auto;

  ::-webkit-scrollbar {
    width: 10px; /* 调整滚动条的宽度 */
  }

  ::-webkit-scrollbar-track {
    background: #FFFFFF; /* 调整滚动条轨道的颜色 */
  }

  ::-webkit-scrollbar-thumb {
    background: #E9E9E9; /* 调整滚动条滑块的颜色 */
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* 调整滚动条滑块在鼠标悬停时的颜色 */
  }

}
